/* .MuiAppBar-root{
    background-color:#000;
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: center;
} */

.navbar{
    width: 100%;
    background-color:#000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 5px 0;
    height: 100px;

}
.navbar__logo{
    margin-left: -200px;
  
}
.navbar__mobile-links{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
    align-items: center;
   
}
.navbar__link{
    
    /* margin-left: 50px; */
}
.navbar__mobile-links{
    /* text-align: center; */
    background-color: #000;
    padding-top: 10px;

}

.navbar__mobile-screen{
    /* text-align: center; */
    background-color: #000;
    height: 100%;
}
@media screen and (max-width:570px){
.navbar__logo-desktop{
    display: none;
}
.navbar{
    padding: 0;
    overflow-x: hidden;
}   
.navbar__logo{
    margin-left: -120px;
}   
.navbar__logo-box{
    margin-left: 0px;
    padding-top: 10px;
    text-align: center;
}   

.navbar__link{
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    
   
}
.navbar__link img{
    width: auto;
    height: auto;
    object-fit: contain;
}
}