.app{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;

  min-height: 100vh;
  
  
}
/* "Revolutionizing the
Internet Economy"
If a cryptocurrency were adopted at scale, it would vastly increase access to the internet economy and make applications possible that are now. */

@media screen and (max-width:570px){

  
}

/* counutry soup */